body {
  transition: background-color 2s cubic-bezier(0, 0.4, 0, 0.99);
	transition-delay: 0s;
}

p {
  color: white;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
}

h1 {
  color: white;
  font-family: 'mechsuit';
  font-size: 20px;
}

canvas {
  position:absolute;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: mechsuit;
  src: url(./mechsuit.woff);
}

iframe {
    border: 0px solid black;
}
